.bg-primary{
    // background-color: beige !important;
    background-color: #f5efe6 !important;
}
.bg-secondary{
    // background-color: #93441A !important;
    background-color: #D5CABC !important;

}

.text-white{
    color: #2a3543 !important;

}
.btn-dark{
    background-color: #2a3543 !important;
}
.volume-list{
    background-color: red;
}
$text-hover-color:white;// Rouge pour le texte au survol
a{
text-decoration:none;
// color: #007bff; // Couleur du texte par défaut;
transition: background-color 0.3s ease, color 0.3s ease; // Animation lors du survol
&:hover {
    background-color: #2a3543;
    color:$text-hover-color !important;
    }
}
// code couleurs :#e5e7e6 #DAAB3A #B67332 #93441A
// #C49D83 #E8D5CC #D5CABC #f5efe6